.container_proposegoodelpcenter {
  font-size: 14px;
  margin-bottom: 43px;
  line-height: 20px;
  //   font-family: open sans regular;
  .title_proposegoodelpcenter {
    font-weight: bold; // a supprimer une fois le font family mis en place
    //   font-family: open sans bold;
  }
}
