@import '../../scss/colors';

.container_btnsetting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 1px $grey-light;
}

.wrapper_title_btnsetting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
.title_btnsetting {
  color: $grey-dark;
  margin-bottom: 0px;
  margin-top: 0px;
}
