.wrapper_btn_filter_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-top: 33px;
  margin-left: 29px;
}

.title_mask_filter_sidebar {
  margin-left: 0px;
  line-height: 20px;
  color: #bebebe;
  //   font-family: open sans regular;
}
