@import '../../scss/colors';

.container_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 1px 3px 1px rgba(194, 194, 194, 0.5);
}

.header_left_navbar {
  display: flex;
  flex-direction: row;
}

.logo_navbar {
  width: 78px;
  height: 29px;
}

.wrapper_input_navbar {
  width: 247px;
  height: 26px;
  border: solid 1px $grey-light;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  box-sizing: border-box;
  padding: 0px 9px;
}

.input_search_word_navbar {
  border: none;

  border-radius: 13px;
  width: 200px;
}

.input_search_word_navbar :focus {
  outline: 0;
}

.input_search_word_navbar::placeholder {
  color: $grey-light;
}
.icon_search_navbar {
  width: 15px;
  height: 15px;
}

.pencil_icon_navbar {
  width: 14px;
  height: 15px;
  padding-left: 8px;
  padding-right: 10px;
}

.create_product_title {
  text-decoration: none;
  color: white;
}

.add_product_navbar {
  margin-left: 20px;
  background-color: #40ce6a;
  width: 155px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.add_product_navbar p {
  color: white;
  font-size: 11px;
  /* font-family:Open Sans Regular ; */
}

.wrapper_link_navbar {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.wrapper_link_navbar li {
  list-style-type: none;
  margin-left: 22px;
}
.wrapper_link_navbar li a {
  text-decoration: none;
  color: black;
  font-size: 11px;
  /* font-family:Open Sans Regular ; */
}

.burger_navbar {
  display: none;
}

// .wrapper_link_navbar li a:active {
//   border-bottom: solid 1px green;
// }

/* IPHONE */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .container_navbar {
    display: none;
  }
  .burger_navbar {
    display: inline;
  }
}
