.wrapper_header_followcategory {
  background-color: #3ad06b;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 93px;
}
.container_central_follow {
  margin-top: 93px;
  margin-bottom: 0px;
  margin-right: 139px;
  margin-left: 139px;
  flex: 1;
}
.text_header_followcategory {
  color: white;
  font-size: 18px;
  /* font-family: Open Sans Bold; */
  line-height: 24px;
}
