@import '../../../scss/colors';

.wrapper_google_btnlogin {
  display: flex;
  flex-direction: row;
  border: solid 1px #d4d4d4;
  border-radius: 26px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 14px;
  cursor: pointer;

  p {
    font-size: 11px;
    /* font-family:Open Sans Regular ; */
    color: #6d7278;
    margin-left: 25px;
  }
}
.wrapper_facebook_btnlogin {
  display: flex;
  flex-direction: row;
  border: solid 1px #d4d4d4;
  border-radius: 26px;
  align-items: center;
  justify-content: center;
  background-color: #4b74ff;
  margin-bottom: 21px;
  cursor: pointer;

  p {
    font-size: 11px;
    /* font-family:Open Sans Regular ; */
    color: $white-absolute;
    margin-left: 22px;
  }
}
