@import '../../../scss/colors';

.container_cardfollowcategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper_unfollow_cardfollowcategory {
  margin: 0px 0px;
  background-color: $blue-msg;
  color: $white-absolute;
  border: solid 1px $blue-msg;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;

  p {
    margin: 0px 0px;
    padding: 4px 37px;
    align-self: center;
  }
}

.wrapper_follow_cardfollowcategory {
  margin: 0px 0px;
  background-color: $white-absolute;
  color: $blue-msg;
  border: solid 1px $blue-msg;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;

  p {
    margin: 0px 0px;
    padding: 4px 37px;
    align-self: center;
  }
}
