@import '../../scss/colors';

.container_cardproduct {
  width: 168px;
  height: 146px;
  border-radius: 5px;
  box-shadow: 3px 10px 3px rgba(194, 194, 194, 0.5);

  .image_product_cardproduct {
    width: 168px;
    height: 146px;
    border-radius: 5px;
    cursor: pointer;
  }

  .wrapper_category_cardproduct {
    display: flex;
    width: 168px;
    height: 146px;
    background-color: grey;
    justify-content: center;
    align-items: center;
  }

  .text_booked_cardproduct {
    background-color: #5f5f5f;
    width: 168px;
    height: 29px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 32px;
    color: white;
    font-size: 11px;
    /* fontFamily: "Avenir Medium", */
  }

  .title_product_cardproduct {
    font-size: 11px;
    /* font-family: "Open Sans Regular"; */
    line-height: 20px;
    color: #5f5f5f;
    margin: 0px;
    margin-top: -40px;
  }

  .container_icon_cardproduct {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    .wrapper_icon_cardproduct {
      display: flex;
      .text_icon_cardproduct {
        font-size: 9px;
        /* font-family: Open Sans Regular; */
        color: #b5b5b5;
        margin-left: 4px;
      }
    }
  }
}
