@import '../../../scss/colors';

.wrapper_terms {
  margin-left: 60px;
  margin-right: 85px;
}

.title_terms {
  font-size: 20px;
  line-height: 20px;
  color: $grey;
  //   font-family: semiBold;
}
.text_terms {
  font-size: 15px;
  line-height: 20px;
  color: $grey;
  //   font-family: regular;
}
