.wrapper_header_headergreen {
  background-color: #3ad06b;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 93px; */
  background-repeat: no-repeat;
  background-position: center;
}
.text_header_headergreen {
  color: white;
  font-size: 18px;
  /* font-family: Open Sans Bold; */
  line-height: 24px;
}
