@import '../../scss/colors';

.container_home_content {
  min-height: 85vh;
}

.wrapper_image_home {
  background: url('../../asset/allSvg/femme.png') no-repeat;
  background-size: 100% 406px;
  width: 100%;
  height: 406px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text1_home {
  width: 355px;
  font-size: 42px;
  /* font-family: "Open Sans Bold"; */
  line-height: 41px;
  margin: 0px 0px;
}

.text2_home {
  width: 410px;
  font-size: 14px;
  /* font-family: "Open Sans Bold"; */
  line-height: 20px;
  margin-top: 24px;
}

/* IPHONE */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .container_home {
    overflow-x: hidden !important;
    max-width: 100vw;
  }
  .wrapper_image_home {
    background-size: 100vw 406px;
    justify-content: center;
    .text1_home,
    .text2_home {
      display: none;
    }
  }
}

/* IPAD */
@media screen and (min-width: 401px) and (max-width: 769px) {
  .container_home {
    overflow-x: hidden !important;
    max-width: 100vw;
  }
  .wrapper_image_home {
    background-size: 100vw 406px;
    justify-content: center;
    .text1_home,
    .text2_home {
      display: none;
    }
  }
}
