@import '../../scss/colors';

.container_btnchatheader {
  border: solid 1px $green-light;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
  width: 135px;
  height: 37px;
  margin: 0px;
  background-color: transparent;
  outline: none;
  color: $green-light;
  font-size: 10px;
  line-height: 20px;
}

.container_btnchatheader:hover {
  cursor: pointer;
  opacity: 0.8;
}
