.container_hiw {
  background-color: #f3f5f5;
  margin-top: 0px;
  padding-top: 0;
}
.text_howitworks_hiw {
  font-size: 14px;
  /* font-family: "Open Sans Bold"; */
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 22px;
  text-align: center;
}
.wrapper_card_hiw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 64px 24px;
  margin-top: 0px;
}
.logo_hiw {
  width: 141px;
  height: 99px;
}
.text_description_picture_hiw {
  font-size: 11px;
  /* font-family: Open Sans Regular; */
  width: 128px;
  text-align: center;
  line-height: 15px;
}
