.image_home {
  width: 100%;
  height: 406px;
  background-color: purple;
}

.text_image_home {
  position: absolute;
  top: 136px;
  left: 99px;
  display: flex;
  flex-direction: row;
}

.text1_home {
  width: 355px;
  font-size: 42px;
  line-height: 41px;
  font-family: "Open Sans Bold";
}

.text2_home {
  width: 410px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans Bold";
}
