.container_cardfollowcategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #979797;
  /* padding-bottom: 15px; */
}

.title_category_cardfollowcategory {
}

.wrapper_unfollow_cardfollowcategory {
  margin: 0px 0px;
  background-color: blue;
  color: white;
  border: solid 1px blue;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.text_unfollow_cardfollowcategory {
  margin: 0px 0px;
  padding: 4px 37px;
  align-self: center;
}

.wrapper_follow_cardfollowcategory {
  margin: 0px 0px;
  background-color: white;
  color: blue;
  border: solid 1px blue;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.text_follow_cardfollowcategory {
  margin: 0px 0px;
  padding: 4px 37px;
  align-self: center;
}
