@import '../../scss/colors';

.container_cardfollowcategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 15px; */
}

.wrapper_unfollow_cardfollowcategory {
  margin: 0px 0px;
  background-color: $blue_msg;
  color: $white_absolute;
  border: solid 1px $blue_msg;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;

  p {
    margin: 0px 0px;
    padding: 4px 37px;
    align-self: center;
  }
}

.wrapper_follow_cardfollowcategory {
  margin: 0px 0px;
  background-color: $white_absolute;
  color: $blue_msg;
  border: solid 1px $blue_msg;
  border-radius: 5px;
  height: 29px;
  display: flex;
  align-content: center;
  cursor: pointer;

  p {
    margin: 0px 0px;
    padding: 4px 37px;
    align-self: center;
  }
}
