.container_login {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.wrapper_login {
  width: 322px;
  height: 447px;
  box-shadow: 1px 3px 3px 3px rgba(216, 216, 216, 0.5);
  box-sizing: border-box;
  padding: 0px 33px;
}
.welcome_login {
  font-size: 20px;
  text-align: center;
}

.text_topic_login {
  font-size: 11px;
  text-align: center;
  margin-bottom: 31px;
}

.label_login {
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 4px;
}

.wrapper_input_login {
}
.input_login {
  border: solid 1px #d4d4d4;
  width: 252px;
  height: 29px;
}

.forget_password_login {
  color: #9e9e9e;
  font-size: 9px;
  text-decoration: underline;
}
.register_login {
  font-size: 11px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
