.container_cardmessage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  cursor: pointer;
  :hover {
  }
}
.container_image_cardmessage {
  display: flex;
  img {
    width: 84px;
    height: 68px;
    border-radius: 5px;
  }
  div {
    // margin-left: 10px;
  }
}

.text_name_cardmessage {
  margin: 0px;
  font-size: 13;
  color: #3a3a3a;
  //   font-family: Open Sans Bold;
}

.text_title_cardmessage {
  margin: 0px;
  font-size: 12px;
  color: #3a3a3a;
  //   font-family: Open Sans Regular;
}

.text_lastmessage_cardmessage {
  margin: 0px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #3a3a3a;
  //   font-family:Open Sans Regular ;
}
.wrapper_grey_dot_cardmessage {
  display: flex;
  cursor: pointer;
  :hover {
    opacity: 0.6;
  }
  div {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    :hover {
      opacity: 1;
    }
  }
}
