@import '../../../scss/colors';

.wrapper_input_passwordsetting {
  border: solid 1px $grey-light;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  /* padding-right: 24px; */
  box-sizing: border-box;
  border-radius: 1px;
}

.wrapper_input_passwordsetting ::placeholder {
  color: #9a9999;
}

input:focus {
  outline: none;
}

.text_password_forget_passwordsetting {
  font-size: 12px;
  /* font-family: open sans regular; */
  color: $blue_msg;
  line-height: 20px;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 23px;
  text-align: end;
}

.text_atleast8_passwordsetting {
  font-size: 10px;
  /* font-family: open sans regular; */
  color: $black-light;
  line-height: 20px;
  margin-top: 0px;
}
