@import '../../scss/colors';

.container_btnfinish {
  background-color: $blue-msg;
  border-radius: 26px;
  width: 252px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_btnfinish {
  color: $white-absolute;
  font-size: 12px;
  /* font-family: Open Sans Regular; */
}
