@import '../../scss/colors';

.container_btnnext {
  background-color: $blue-msg;
  border-radius: 26px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
}
.text_btnnext {
  color: $white-absolute;
  font-size: 12px;
  /* font-family:"open sans regular" */
  display: flex;
}
