@import '../../scss/colors';

.container_btnnext {
  background-color: $blue_msg;
  border-radius: 26px;
  cursor: pointer;
}
.text_btnnext {
  color: $white_absolute;
  font-size: 11px;
  /* font-family:"open sans regular" */
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
