@import '../../scss/colors';

.container_register {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.wrapper_register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 28px;
  align-items: center;
  width: 579px;
  height: 737px;
  box-shadow: 1px 3px 3px 3px rgba(216, 216, 216, 0.5);
  box-sizing: border-box;
}

.text_create_account_register {
  font-size: 22px;
  /* font-family: Montserrat SemiBold; */
}

.text_add_picture_register {
  color: $blue-msg;
  font-size: 14px;
  /* font-family: Open Sans Regular; */
  line-height: 19px;
  margin-bottom: 40px;
  cursor: pointer;
}
.forms_register {
  display: flex;
}

.text_atleast8_register {
  font-size: 10px;
  /* font-family: "open sans regular"; */
  align-self: self-start;
  color: $black-light;
  line-height: 14px;
  margin: 0px 0px 16px 21%;
}
.text_you_are_register {
  font-size: 12px;
  color: $black-light;
  margin: 0px 0px 6px 21%;
  align-self: flex-start;
  /* font-family: "open sans regular"; */
}

.wrapper_icon_picture_createproduct {
  > input {
    cursor: pointer;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
