@import '../../../scss/colors';

.container_forbidden_service {
  margin-left: 67px;
  margin-right: 67px;
}

.title {
  font-size: 15px;
  line-height: 20px;
  color: $grey;
  //   font-family: 'open sans bold';
}
.text {
  font-size: 15px;
  line-height: 20px;
  //   font-family: "open sans regular";
}
