@import '../../scss/colors';

.allcontainer_productdetail {
  .container_productdetail {
    margin-left: 13.9vw;
  }
  .wrapper_title_category_productdetail {
    margin-top: 23px;
    margin-bottom: 12px;
    // display: flex;
    // justify-content: center;
    .title_category_productdetail {
      font-size: 16px;
    }
    .detail_category_productdetail {
      font-size: 14px;
      margin-left: 4px;
    }
  }
  .container_cardcontact_productdetail {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    .container_right_productdetail {
      width: 479px;
      margin-left: 20px;
      .image_product_productdetail {
        width: 479px;
        height: 223px;
      }
      .wrapper_icon_heart_productdetail {
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        .title_product_productdetail {
          font-size: 16px;
          /* font-family:Avenir Heavy ; */
          color: $black-light;
          margin: 0px;
        }
      }
      .title_section_productdetail {
        font-size: 16px;
        /* font-family:Avenir Heavy ; */
        color: $black-light;
        margin: 0px;
        margin-top: 30px;
      }

      .result_section_productdetail {
        font-size: 14px;
        /* font-family: Avenir Medium; */
        margin: 0px;
        margin-top: 11px;
      }
      .wrapper_location_productdetail {
        display: flex;
        align-items: center;

        p {
          font-size: 14px;
          // font-family: Avenir Book;
          color: $black-light;
        }
      }
      .map_productdetail {
        width: 473px;
        height: 304px;
        margin: 0px;
      }
    }
  }
}

/* IPHONE */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .allcontainer_productdetail {
    overflow-x: hidden !important;
    max-width: 100vw;
  }
  .container_cardcontact_productdetail {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .container_right_productdetail {
    width: 10%;
    margin-left: 20px;
  }
  .image_product_productdetail {
    width: 10%;
    height: 123px;
  }
}
