@import '../../../scss/colors';

.container_cardReceiveMessage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  cursor: pointer;
  :hover {
  }
}
.container_image_cardReceiveMessage {
  display: flex;
  width: 96%;
  img {
    width: 84px;
    height: 68px;
    border-radius: 5px;
  }
  div {
    // margin-left: 10px;
  }
}

.wrapper_cardReceiveMessage {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_name_cardReceiveMessage {
  margin: 0px;
  font-size: 13;
  color: $black-light;
  //   font-family: Open Sans Bold;
}

.text_title_cardReceiveMessage {
  margin: 0px;
  font-size: 12px;
  color: $black-light;
  //   font-family: Open Sans Regular;
}

.text_lastmessage_cardReceiveMessage {
  margin: 0px;
  margin-bottom: 6px;
  font-size: 12px;
  color: $black-light;
  //   font-family:Open Sans Regular ;
}
.wrapper_grey_dot_cardReceiveMessage {
  display: flex;
  cursor: pointer;
  :hover {
    opacity: 0.6;
  }
  div {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    :hover {
      opacity: 1;
    }
  }
}
