@import '../../scss/colors';

.wrapper_header_headergreenorganization {
  background-color: $green-main;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 93px; */
  background-image: url(../../asset/allSvg/background_header_organization.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.text_header_headergreenorganization {
  color: $white_absolute;
  font-size: 18px;
  /* font-family: Open Sans Bold; */
  line-height: 24px;
}
