@import '../../scss/colors';

.container_notification_content {
  min-height: 85vh;
}

.wrapper_notification {
  margin-left: 139px;
  margin-right: 139px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.wrapper_errorimage_notification {
  display: flex;
  justify-content: center;
}

/* IPHONE */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .container_notification {
    overflow-x: hidden !important;
    max-width: 100vw;
  }
  .wrapper_notification {
    margin-left: 0px;
    margin-right: 0px;
  }
}
