@import '../../scss/colors';

.wrapper_notification {
  margin-left: 139px;
  margin-right: 139px;
}

/* IPHONE */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .container_notification {
    overflow-x: hidden !important;
    max-width: 100vw;
  }
  .wrapper_notification {
    margin-left: 0px;
    margin-right: 0px;
  }
}
