@import '../../scss/colors';

.wrapper_input_createproduct {
  .label_createproduct {
    font-size: 14px;
    line-height: 20px;
    display: block;
    //   font-family: regular;
    color: $black-light;
    .input_createproduct {
      box-sizing: border-box;
      background-color: white;
      padding-left: 10px;
      width: 344px;
      display: block;
      height: 42px;
      margin-top: 10px;
      border: 1px solid $grey-light;
    }
  }
}

select {
  -webkit-appearance: none;
  background: transparent;
  background-image: url('/images/arrow_select_bottom.png');
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 14px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem 0 1rem;
  padding-top: 10px;
}
