@import '../../scss/colors';

.container_review {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  .wrapper_card_review {
    width: 568px;
    height: 618px;
    border: solid 1px $grey-light;
    // display: flex;
  }
}
