$grey-light: #bfbdbd;
$grey-location: #b5b5b5;
$grey-dark: #979797;
$grey-msg: #f0f0f0;

$green-main: #3ad06b;
$green-light: #00d65b;

$white-absolute: white;

$black-light: #3a3a3a;
$black: black;

$blue-msg: #0091ff;
