$grey-light: #bfbdbd;
$grey-location: #b5b5b5;
$grey-dark: #979797;
$grey-msg: #f0f0f0;
$grey: #515151;
$grey-text: #9a9999;
$grey-createdAt: #9e9e9e;

$green-main: #3ad06b;
$green-light: #00d65b;

$white-absolute: white;

$black-shadow: rgba(209, 209, 209, 0.5);
$black-light: #3a3a3a;
$black: black;

$blue-msg: #0091ff;
