.wrapper_header_followcategory {
  background-color: #3ad06b;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 93px;
}
.text_header_followcategory {
  color: white;
  font-size: 18px;
  line-height: 24px;
  /* font-family: Open Sans Bold; */
}
