@import '../../scss/colors';

.container_cardhomesearch {
  background: rgba(255, 255, 255, 0.73);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  width: 279px;
  height: 289px;
  padding: 15px 20px;
  margin-top: 80px;
  margin-right: 96px;
  box-sizing: border-box;
}

.container_cardhomesearch::placeholder {
  color: $grey-dark;
}
.input_category_cardhomesearch {
  width: 196px;
  padding: 3px 7px;
}

.question_cardhomesearch {
  font-size: 10px;
  line-height: 20px;
  /* font-family: Open Sans Regular; */
}

.wrapper_input_cardhomesearch {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.wrapper_input_cardhomesearch span {
  font-size: 10px;
  /* font-family: Open Sans Regular; */
}

.input_entercity_cardhomesearch {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 7px 14px;
  width: 196px;
}
.wrapper_btn_cardhomesearch {
  border: solid 1px #00d65b;
  background-color: $white-absolute;
  border-radius: 26px;
}
.wrapper_btn_cardhomesearch p {
  color: #00d65b;
  text-align: center;
  font-size: 10px;
  /* font-family:Open Sans SemiBold ; */
}
