.container_cardsetting {
  border: solid 1px #e5e5e5;
  width: 239px;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-top: 23px;
  padding-bottom: 9px;
  box-sizing: border-box;
  box-shadow: 1px 3px 1px rgba(194, 194, 194, 0.5);
}

.title_cardsetting {
  margin-top: 0;
  font-size: 20px;
  /* font-family: Avenir Heavy; */
  text-align: center;
  margin: 0 19px;
}
.description_cardsetting {
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  /* font-family: Avenir Medium; */
}
