.container_about {
  background-color: hsl(0, 0%, 97%);
  padding-top: 31px;
}

.title_about {
  font-size: 20px;
  //   font-family: Open Sans SemiBold;
  color: #515151;
}
.text_about {
  font-size: 15px;
  //   font-family:  Open Sans Regular;
  color: #515151;
}

.wrapper_people_about {
  height: 261px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(194, 194, 194, 0.3);
  margin-left: 31px;
  margin-right: 31px;
  margin-bottom: 19px;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1px;
  div {
    width: 447px;
    padding-left: 72px;
  }
}
.wrapper_woman_pig_about {
  height: 261px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(194, 194, 194, 0.3);
  margin-left: 31px;
  margin-right: 31px;
  margin-bottom: 19px;
  padding-left: 114px;
  padding-right: 114px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1px;
  div {
    width: 447px;
    padding-right: 72px;
    margin: 0px;
  }
}

.wrapper_man_painting_about {
  height: 261px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(194, 194, 194, 0.3);
  margin-left: 31px;
  margin-right: 31px;
  margin-bottom: 146px;
  padding-left: 155px;
  padding-right: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1px;
  div {
    width: 447px;
    padding-left: 106px;
  }
}
