@import '../../scss/colors';

.input_inputselect {
  width: 360px;
  height: 48px;
  padding-left: 12px;
  border: solid 1px $grey-light;
  border-radius: 1px;
}
select option:first-of-type {
  // color: green;
}

select > option {
  // color: 'green';
}
